{% extends "root.html" %}



{% block content %}
<script>
    function create_memo() {
        var title = $("#title_textarea").val()
        var content = $("#content_textarea").val()
        console.log(title)
        var memo_param ={
            'title' : title,
            'content' : content,
            'author' : '관리자' ,
        }
        console.log(memo_param)
        $.ajax({
                        type: "POST",
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        datatype: 'json',
                        data: memo_param,
                        url: "{% url 'memo:memo_list' user.profile.nickname %}",
                        success: function (response) {
                            history.back()
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors);
                        }
                    })
    }

function detail(pk) {
    var nickname = {{user.profile.nickname}}
    var memo_pk = pk
    $.ajax({
            type: "GET",
            datatype: 'json',
            url: `api/memo/${nickname}/${memo_pk}`,
            success: function (data) {

                $("#memo_div").empty()
                console.log(memo_list[0])
                for(i in memo_list) {
                $("#memo_div").append(`<textarea rows="1" style="width:95%" id="title_textarea">${memo_list[i].title}</textarea>
                <textarea style="width:95%; height:300%;" id="content_textarea">${memo_list[i].content}</textarea>`);
                }
            },
            error: function (response) {
                console.log(response.responseJSON.errors);
            }
}

</script>

<div class="row" style="border-style:solid; height:8%; margin:0px;">
    저장
    <button onclick="create_memo()">생성</button>

</div>
<div class="conatiner">
    <div class="row" id="memo_row">

        <div class="memo" id="memo_div">
            <textarea rows="1" style="width:95%" id="title_textarea">제목을 입력하세요.</textarea>
            <textarea style="width:95%; height:300%;" id="content_textarea">내용을 입력하세요.</textarea>
            <hr>
        </div>

    </div>

</div>


{% endblock %}